# Auto detect text files and perform LF normalization
* text=auto

# Example folder using LFS
Content/Audio/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Content/**/Audio/**/*.uasset filter=lfs diff=lfs merge=lfs -text